@model IEnumerable<Pawelby.Models.Trip>

@{
    ViewBag.Title = "Главная";
}

<div class="row">

    <div class="col-md-12">
        <h1>Добро пожаловать на сайт</h1>
        <p>Сайт поможет вам спланировать путешествие</p>
        <a asp-controller="App" asp-action="trips" class="btn btn-lg btn-success">Показать мои путешествия</a>
    </div>

</div>

